@{
    ViewBag.Title = "Greep-Up";
}

@*<div class="jumbotron">
    <h1>Greet-Up</h1>
    <p class="lead">Welcome to Greet-Up.  Click on RSVP to register for an Event</p>
    
    <p><a href="/RSVPs/Create" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img id="logo" src="~/Image/Greetup(2).png" />
        </div>
    </div>
</div>

<div class="row">
    <div id="rsvp" class="col-lg-12">
        <h2>To RSVP, Click Here!</h2>
        <p><a id="rsvp" class="btn btn-primary" href="/RSVPs/Create">RSVP &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Learn more here!</h2>
        <p><a class="btn btn-default" href="/RSVPs/Details">Details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cancel your RSVP</h2>
        <p><a class="btn btn-danger" href="/RSVPs/Delete">Cancel &raquo;</a></p>
    </div>*@
</div>